*{
    margin: 0;
    padding: 0;
}


nav{
    height: 100px;
    background-color:rgb(218, 171, 171) ;
}

.nav-bar{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
    gap: 90px;   
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
}

main{
    display: flex;
    height: 88vh;
    width: 97vw;
    justify-content: flex-end; 
}

main img{
    width: 98vw;
    height: 89vh;
}

.pagina{
    display: flex;
    position: relative;
    border: solid;
    height: 88vh;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.pagina  h1{
    font-size: 4em;
}

.botoes{
    margin-top: 2em;   
}

.botoes button{
    border:none;
    height: 4em;
    width: 15rem;
    border-radius: 10px;
}

.parterosa{
    background-color: pink;
    height: 200px;
    width: 200px;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
   body{
       width: 100vw;
   }

   .pagina{
       height: 70vh;
       width: 76vw;
       font-size: 1rem;
       gap: 6em;
   }

   .nav-bar{
       display: flex;
       font-size: 14px;
       gap: 7px;
       justify-content: center;
   }
}



/* estilização de produtos */
.produtos{
    text-align: center;
}
.produtos>h1{
    margin: 20px;
}
.produtos>p{
    margin-bottom: 50px;
}
.produtos-card{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
.produtos-card>p{
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 80vw;
}
.pc-conteudo{
    display: flex;
    align-items: center;
}
.credito-card{
    display: flex;
    align-items: center;
}
.cc-conteudo{
    height: 5vw;
}
.btn-pc-card{
    margin: auto;
    width: 10vw;
    border-radius: 4px;
    background-color: #55868C;
}
.btn-pc-card:hover{
    background-color: #6320EE;
}
 master
